.task {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    margin: 1rem;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: #7439db;
  }

  .form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .form div{
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
  }

  .form input{
    align-items: flex-start;
  }

  .form span{
    caret-color: transparent;
  }
