.input{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.label {
    caret-color: transparent;
    font-weight: bold;
    margin: 1rem;
}

.input input{
    padding: 16px;
    border-radius: 10px;
    font: inherit;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 10px;
}