
.button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  margin: 10px;
}
.button:focus {
    outline: thick double rgb(135, 176, 213);
  }

.button:hover,
.button:active {
  background: rgb(80, 155, 221);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}